[submodule "module/aether"]
	path = module/aether
	url = git@github.com:alesegdia/aether.git
[submodule "module/hadron"]
	path = module/hadron
	url = git@github.com:alesegdia/hadron.git
[submodule "module/rztl"]
	path = module/rztl
	url = git@github.com:alesegdia/rztl.git
